/* General styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #4a90e2, #9013fe);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  background: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.header {
  padding: 20px;
  text-align: center;
  background: #272727;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  color: #e3e3e3;
}

.map-logs-container {
  display: flex;
  justify-content: space-between; /* Añade espacio entre el mapa y los logs */
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 160px); /* Ajustar al tamaño del viewport menos el header/footer */
  padding: 20px; /* Espacio a los lados y alrededor del contenedor */
  box-sizing: border-box; /* Incluye el padding en las dimensiones totales */
}
.Mapa {
  flex: 2; /* El mapa ocupa más espacio */
  margin-right: 20px; /* Espacio entre el mapa y los logs */
}

/* Contenedor de los logs */
.logs-container {
  flex: 1;
  max-width: 400px; /* Limita el ancho de los logs */
  height: 90%; /* Ajusta la altura al 90% del contenedor */
  padding: 15px; /* Espaciado interno para el contenedor de logs */
  background: #272727;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea los logs desde el inicio */
  align-items: center;
}

/* Título en el contenedor de logs */
.logs-container h2 {
  margin: 0 0 10px 0;
  color: #e3e3e3;
  font-size: 1.5rem;
  text-align: center;
}

/* Lista de logs */
.logs-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.logs-list li {
  margin-bottom: 8px;
  padding: 8px;
  background: #1c1c1c;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.footer {
  text-align: center;
  padding: 10px;
  background: #272727;
  font-size: 0.9rem;
  color: #ccc;
}


/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header, footer {
  animation: fadeIn 1s ease-in-out;
}
